// HEADER
.header {
  min-height: 80vh;
  background: linear-gradient(to top, #373b44, #4286f4);

  &__container {
    display: flex;
    justify-content: space-between;
    height: 10vh;
  }

  &__left-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      padding-top: 2rem;
    }

    &__title {
      text-transform: uppercase;
      margin-left: 5rem;
      font-size: 2.7rem;

      span {
        color: black;
      }
    }
  }

  &__right-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }

    &__menu {
      display: flex;
      list-style: none;

      &-item {
        font-size: 2.2rem;
        margin-right: 5rem;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          transform: translateY(0.2rem);
        }
      }
    }
  }

  &__body {
    min-height: 40vh;
    text-align: center;

    svg {
      fill: #000;
      width: 10rem;
      height: 10rem;
      margin-top: 3.5rem;
    }

    &-subtitle {
      margin: 0 auto;
      width: 53%;

      @media only screen and (max-width: $bp-smartphone) {
        font-size: 50%;
        width: 90%;
      }

      h2 {
        font-size: 2.7rem;
        margin: 4rem 0;
        font-weight: normal;
      }
      h3 {
        font-size: 2.2rem;
        font-weight: normal;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    width: 36%;
    margin: 0 auto;

    &-container {
      display: flex;
      width: 100%;

      @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      label {
        margin-right: 3%;
        width: 100%;
      }

      input {
        border: none;
        width: 48rem;
        height: 4rem;
        padding: 0.5rem 1rem;
        font-size: 2rem;
        color: #3b3b3b;
        border-radius: 3px;
        box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.75);

        @media only screen and (max-width: $bp-smartphone) {
          width: 90%;
          margin: 0 auto;
        }
      }

      button {
        border: none;
        font-size: 1.5rem;
        width: 19rem;
        font-weight: bold;
        background-color: var(--color-primary);
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.75);
        padding: 0 3rem;

        &:hover {
          opacity: 0.9;
        }

        &:active {
          transform: translateY(0.2rem);
        }

        @media only screen and (max-width: $bp-small) {
          margin-top: 2rem;
          padding: 1rem 2rem;
        }
      }
    }
  }
}

// SECCION DE CANCIONES
.canciones {
  min-height: 30vh;
  color: #000;
  padding-top: 5rem;

  &__container-title {
    margin-bottom: 5rem;

    span {
      color: var(--color-primary);
      margin-right: 1rem;
    }
    h2 {
      text-align: center;
      font-size: 3.3rem;
      letter-spacing: 0.5rem;
    }
  }

  &__main-container {
    min-height: 50vh;
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    width: 68%;
    justify-content: center;

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: repeat(3, 35rem);
    }

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: repeat(2, 35rem);
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: repeat(1, 35rem);
    }
  }

  &__cancion {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    background-color: grey;
    height: 24rem;
    width: 15rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

    position: relative;

    .delete-song {
      cursor: pointer;
      color: red;
      font-size: 1.8rem;
      position: absolute;
      top: 0;
      right: 13px;
      font-family: Arial, Helvetica, sans-serif;
    }

    img {
      width: 100%;
    }

    h3 {
      display: flex;
      justify-content: center;
      font-size: 1.2rem;
      font-weight: normal;
      color: #fff;
      padding: 0.3rem 1.2rem;
      cursor: default;
    }

    figcaption {
      display: grid;
      grid-template-rows: 2fr 1fr;

      position: relative;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      cursor: not-allowed;
    }

    button {
      display: block;
      border: none;
      font-size: 1.3rem;
      width: 65%;
      font-weight: bold;
      background-color: red;
      color: #fff;
      border-radius: 3px;
      cursor: not-allowed;
      box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.75);
      opacity: 0.5;
      padding: 0.5rem 1rem;
      margin: 0 auto;
      margin-top: 1.2rem;
    }

    &-title {
      justify-self: center;
      align-self: center;
      text-align: center;
    }

    p {
      justify-self: center;
      align-self: center;
      font-size: 1.15rem;
      font-style: italic;
      color: gray;
    }
  }
}

.enabled {
  opacity: 1 !important;
  background-color: green !important;
  cursor: pointer !important;
}

.errorValidacion {
  text-align: center;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.mensaje-exito {
  text-align: center;
  background-color: green;
  color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.w-full {
  width: 100%;
}
