:root {
  --color-primary: #00bbff;
}

@font-face {
  font-family: "walsheim";
  src: url("../images/fonts/gt-walsheim-regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "walsheim";
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.link {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: 0 4px;
}

.link:before,
.link:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.link:before {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.link:after {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
}

.link:hover:after,
.link:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
}

.sk-fading-circle .sk-circle {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.centered {
  margin-top: 4%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.error,
.success {
  width: 100%;
  color: #fff;
  background-color: red;
  border-radius: 3px;
  text-align: center;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.success {
  background-color: green;
}

.header {
  min-height: 80vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#373b44), to(#4286f4));
  background: linear-gradient(to top, #373b44, #4286f4);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
}

.header__left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 51.7em) {
  .header__left-container {
    width: 100%;
    padding-top: 2rem;
  }
}

.header__left-container__title {
  text-transform: uppercase;
  margin-left: 5rem;
  font-size: 2.7rem;
}

.header__left-container__title span {
  color: black;
}

.header__right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 51.7em) {
  .header__right-container {
    display: none;
  }
}

.header__right-container__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__right-container__menu-item {
  font-size: 2.2rem;
  margin-right: 5rem;
  cursor: pointer;
}

.header__right-container__menu-item:hover {
  opacity: 0.8;
}

.header__right-container__menu-item:active {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

.header__body {
  min-height: 40vh;
  text-align: center;
}

.header__body svg {
  fill: #000;
  width: 10rem;
  height: 10rem;
  margin-top: 3.5rem;
}

.header__body-subtitle {
  margin: 0 auto;
  width: 53%;
}

@media only screen and (max-width: 32.72em) {
  .header__body-subtitle {
    font-size: 50%;
    width: 90%;
  }
}

.header__body-subtitle h2 {
  font-size: 2.7rem;
  margin: 4rem 0;
  font-weight: normal;
}

.header__body-subtitle h3 {
  font-size: 2.2rem;
  font-weight: normal;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem;
  width: 36%;
  margin: 0 auto;
}

.header__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 47.7em) {
  .header__form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__form-container label {
  margin-right: 3%;
  width: 100%;
}

.header__form-container input {
  border: none;
  width: 48rem;
  height: 4rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: #3b3b3b;
  border-radius: 3px;
  -webkit-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 32.72em) {
  .header__form-container input {
    width: 90%;
    margin: 0 auto;
  }
}

.header__form-container button {
  border: none;
  font-size: 1.5rem;
  width: 19rem;
  font-weight: bold;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.75);
  padding: 0 3rem;
}

.header__form-container button:hover {
  opacity: 0.9;
}

.header__form-container button:active {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

@media only screen and (max-width: 47.7em) {
  .header__form-container button {
    margin-top: 2rem;
    padding: 1rem 2rem;
  }
}

.canciones {
  min-height: 30vh;
  color: #000;
  padding-top: 5rem;
}

.canciones__container-title {
  margin-bottom: 5rem;
}

.canciones__container-title span {
  color: var(--color-primary);
  margin-right: 1rem;
}

.canciones__container-title h2 {
  text-align: center;
  font-size: 3.3rem;
  letter-spacing: 0.5rem;
}

.canciones__main-container {
  min-height: 50vh;
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 76%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 90.125em) {
  .canciones__main-container {
    -ms-grid-columns: (35rem)[3];
        grid-template-columns: repeat(3, 35rem);
  }
}

@media only screen and (max-width: 71.6em) {
  .canciones__main-container {
    -ms-grid-columns: (35rem)[2];
        grid-template-columns: repeat(2, 35rem);
  }
}

@media only screen and (max-width: 47.7em) {
  .canciones__main-container {
    -ms-grid-columns: (35rem)[1];
        grid-template-columns: repeat(1, 35rem);
  }
}

.canciones__cancion {
  border: 1px solid black;
  border-radius: 5px;
  -webkit-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  background-color: grey;
  height: 24rem;
  width: 15rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.canciones__cancion img {
  width: 100%;
}

.canciones__cancion h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  font-weight: normal;
  color: #fff;
  padding: 0.3rem 1.2rem;
  cursor: default;
}

.canciones__cancion figcaption {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
}

.canciones__cancion a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: not-allowed;
}

.canciones__cancion button {
  display: block;
  border: none;
  font-size: 1.3rem;
  width: 65%;
  font-weight: bold;
  background-color: red;
  color: #fff;
  border-radius: 3px;
  cursor: not-allowed;
  -webkit-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.75);
  opacity: 0.5;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  margin-top: 1.2rem;
}

.canciones__cancion-title {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.canciones__cancion p {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.15rem;
  font-style: italic;
  color: gray;
}

.enabled {
  opacity: 1 !important;
  background-color: green !important;
  cursor: pointer !important;
}

.errorValidacion {
  text-align: center;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.mensaje-exito {
  text-align: center;
  background-color: green;
  color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.w-full {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */